*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

h1{
    color: #5f27cd;
    text-align: center;
}

h1, p, center, strong, span, b, a, em{
    border: 1px solid #000;
}